.img{
  margin: 10%;
  width: 80%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


.formulario{

  padding-left: 5%;
}

.mat-button{
  margin: 5px;
  color: #39ABA2;

}
