.button {
    width: 40px;
    margin-right: 5em;
}

.container{
    flex-grow: 1;
    background-color: whitesmoke;
    width: 100%;
    height: 100px;
    min-width: 270px;
    bottom: 0px;
    display: inline-flex;
    border: 2px solid black;
    border-radius: 4px;
    align-items: center;
}

.rotate {
    transform: rotate(180deg);
}


.material-icons:hover {
    color: #075c38;
    stroke-width: 8;
}

.reproductor{
    padding: 15px;
    background-color: white;
}
.reproductor__detalles{
    text-align: center;
}
.reproductor__controles{
   margin: 5px;
   display: flex;
   justify-content: center;
   color: #39ABA2;
   gap: 20px;

}

.reproductor__controles mat-icon {
    cursor: pointer;
}

.BarrayTiempo{
  padding: 5px;

}

.timePlayed{
  max-width: 10%;
}

.trackLenght{
  width: 60%;
}

.cancionDuracion{
  max-width: 10%;
}

/* .btn mat-icon {
    width: 40px;
    margin-right: 5em;
    color: #1abc9c;
    background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
} */

.img {
    width: 110px;
}

.player {
    width: 180%;
}

.trackLenght {
    width: 100%;
}

.reproducer__track__bar
{
    width: 100% !important;
    margin: 0 !important;
}
.trackLenght .reproducer__track__bar .mat-slider-wrapper {
    width: 100%;
}


.BarrayTiempo {
    margin-top: 20px;
}

.BarrayTiempo input {
    max-width: 50px;
    border: none;
    color: darkgray;
}