
<div class="text-filter">
    <h4>Filtrar por estilos:</h4>
    <mat-form-field name = "style-filter-form" appearance="fill" [formGroup]="styleFilter" (ngSubmit)="filtroEstilos()">
        <mat-label>Selecciona un estilo</mat-label>
        <select matNativeControl name="estilos" id="style" formControlName="estilo">
            <option value="Todas">Mostrar todo</option>
            <option value="Electrónica">Electrónica</option>
            <option value="Pop">Pop</option>
            <option value="Alternativa">Alternativa</option>
        </select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="filtroEstilos()" value="Filtrar">Filtrar</button>


</div>
